<html>
<head>
<script data-main = "/components/editor.js" src="/components/require/index.js"></script>
</head>
<body>
        <textarea>Your content here.</textarea>
</body>

<input type="submit" id="clicker"/>
