<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <p>you asked for product: <%= product %> with mode: <%= mode %>.</p>
  </body>
</html>