<% block('title', 'Cinched Tight, Create') %>
<% block('description', 
          'Account creation for Cinched Tight') %>
<% block('data-main', 'main.js'); %>

<% layout('../../layouts/layout.ejs') -%>

<div id="container">
NEW action, account controller.
</div>
